
<div class="col-6 border border-info rounded mx-auto my-1 p-2">
    {{#each messages}}
        <p>
            <b style="color: blue;">{{this.username}}</b>
            <span style="color: #645050;">{{this.date}}</span>
            <em style="color: #36c936;">{{this.msg}}</em>
        </p>
    {{/each}}
</div>

