<div class="container mt-5">
    <div class="col-6 border border-info rounded mx-auto my-1 p-2">
        <label for="username" class="form-label">INGRESE SU EMAIL:</label>
        <input type="email" id="username" name="username" class="form-control">
        <button type="submit" id="log" class="btn btn-outline-info my-1">INGRESAR</button>
        <h2 id="user" class="text-info"></h2>
    </div>
    <div>
    <div class="col-6 border border-info rounded m-auto p-2">
        <h3 class="text-info">INGRESAR PRODUCTOS:</h3>
        <form>
            <div class="mb-3">
                <label for="name" class="form-label">Producto:</label>
                <input id="name" name="name" class="form-control">
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Categoria:</label>
                <input id="category" name="category" class="form-control">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Precio:</label>
                <input id="price" name="price" class="form-control">
            </div>    
            <div class="mb-3">
                <label for="img" class="form-label">Imagen:</label>
                <input type="url" id="img" name="img" class="form-control">
            </div>        
            <button type="submit" id="save" class="btn btn-outline-info">GUARDAR</button>
            <button type="button" class="btn btn-outline-info"><a href="/products">IR A LISTADO</a></button>
            <button type="button" class="btn btn-outline-info"><a href="/messages">IR Al CHAT</a></button>
        </form>
    </div>
    <div id="products" class="col-6 border border-info rounded mx-auto my-2 p-2"></div>
    <div class="col-6 border border-info rounded mx-auto mb-1 p-2">
        <h2 class="text-info my-1 mx-auto">Chat Online</h2>
        <form class="m-1">
            <div class="mb-3">
                <label for="msg" class="form-label">Escribe tu mensaje:</label>
                <input id="msg" name="msg" class="form-control">
            </div>
            <button type="submit" id="send" class="btn btn-outline-info">ENVIAR</button>
        </form>
    </div>
    <div id="chat"></div>
</div>
